
body {
  background: linear-gradient(45deg, #E4E0E1, #D6C0B3, #AB886D, #493628);
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar {
  margin-bottom: 20px;
}

.index-statement,
.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form .btn {
  width: 150px;
}
fieldset {
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
}

fieldset legend {
  font-size: 1.2em;
  font-weight: bold;
}

#services-Selected-register2 {
  margin-top: 20px;
}

.catpng1 {
  display: block;
  margin: 20px auto;
  max-width: 150px;
}

@media (max-width: 768px) {
  .row {
      flex-direction: column;
  }
}
